{% extends 'CRUD/edit.html.twig' %}

{#{% block form_row %}#}
{#    ............#}
{#{% endblock %}#}
{#{% block form %}#}
{#    <h1>hey {{ admin.uniqid }}</h1>#}

{#    <input type="text" id="s3a1130404a_logoName" name="s3a1130404a[logoName]" maxlength="25" class=" form-control" value="hbc">#}
{#{{ parent() }}#}
{#{% endblock %}#}
{#            {% block sonata_tab_content %}#}
{#                aaaaaaaaaaaaaaaaaaaaaaaa#}
{#{% endblock %}#}
